doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    link(rel='stylesheet', type='text/css', href='pkg/semantic-ui/semantic.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ruthie')
    script(src='pkg/jquery/jquery.min.js')
    script(src='pkg/semantic-ui/semantic.min.js')
    title thujas.net: official thujas's band website
    
  body
    .ui.container.center.aligned
      br
      
    .ui.equal.width.grid.centered.sitetitle
      h1.sitetitle thujas
    
    .ui.divider

    .ui.equal.width.grid.sitemenu
      a.sitelink.column.center.aligned(href="") BUY ALBUM
      a.sitelink.column.center.aligned(href="") SOUNDCLOUD
      a.sitelink.column.center.aligned(href="") VIDEOS
      a.sitelink.column.center.aligned(href="") SPOTIFY
      
    .ui.divider
    
    .ui.container.center.aligned
       //-img.ghost(src='img/thujas.png')
       h3 Tracks
       iframe(width='100%' height='166' scrolling='no' frameborder='no' allow='autoplay' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/575696757&color=%23276140&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true')
    br
    .ui.container.aligned
        h4.center thujas is: 
        ul.list
          .item
            strong Cody Woodman
            | &nbsp;
            | (Guitar, Bass, Production)
          .item
            strong Grady O'Connell
            | &nbsp;
            | (Drums, Synth, Keys)
    
    .ui.divider
      
    .ui.container.center.aligned
      p Copyright (c) 2019 Thujas

