//@import 'nib'
//@import 'nib/gradients'

body
    background-image: url("../img/bg.jpg") !important;
    background-size: cover !important;

#inner
    display: table
    margin: 0 auto

.projectimg
    max-width: 570px
    //width: 100%

img.ghost
    width: 128px

.projbox
    width: 570px

.sitetitle
  background-color: black;
  color: white
  opacity .5
  font-family: 'Ruthie', cursive;
  font-size: 2em

.sitemenu
  background-color: white;
  opacity: .4

.blacktext
  color: black !important;

.sitelink
  font-weight: bold;

