//@import 'nib'
//@import 'nib/gradients'

body
    background-image: url("../img/bg.jpg") !important;
    background-size: cover !important;

#inner
    display: table
    margin: 0 auto

.projectimg
    max-width: 570px
    //width: 100%

img.ghost
    width: 128px

.projbox
    width: 570px

